@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,600&display=swap");
:root {
  --primaryColor: #101820;
  --secondColor: #009bf9;
  --textColor: #f2faff;
  --gray: rgba(42, 53, 62, 0.4);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  border: none;
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
  background-color: var(--primaryColor);
  color: var(--textColor);
}
section {
  padding: 5rem 0;
}
.main-title {
  border-bottom: 3px solid var(--secondColor) !important;
}
.sub-title {
  color: var(--secondColor);
  font-size: 15px;
}
/* Navbar Section */
#mainNavbar {
  background-color: var(--primaryColor) !important;
  border-bottom: 1px solid var(--gray);
}
#mainNavbar .nav-item .nav-link {
  position: relative;
  color: var(--textColor);
}
#mainNavbar .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--secondColor);
  bottom: -3px;
  left: 0;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}
#mainNavbar .nav-item:not(:last-child) .nav-link:hover::after {
  width: 100%;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* Hero Section */
#hero {
  background-image: url("../../resources/images/bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}

.hero {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .social a {
  transform: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
}

#hero .social a:hover {
  color: var(--textColor);
  transform: scale(1.2);
  -webkit-transition: scale(1.2);
  -moz-transition: scale(1.2);
  -ms-transition: scale(1.2);
  -o-transition: scale(1.2);
}

#hero h1 .typer {
  color: var(--secondColor);
}

.hidden-hero {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.show-hero {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* About Us Section */
.exp {
  background-color: var(--gray);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 0px 30px 45px rgba(22, 22, 22, 0.15);
}

.exp-number {
  margin-top: 20px;
  margin-bottom: -3px;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
}

.hidden-about {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s;
}

.show-about {
  opacity: 1;
  filter: blur(0);
}

/* Skill Section */
.skill {
  background: var(--gray);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
  transition: all 0.4s;
}

.skill-text {
  color: var(--textColor);
}

.skill:hover {
  transform: scale(1.12) rotate(-5deg);
  -webkit-transform: scale(1.12) rotate(-5deg);
  -moz-transform: scale(1.12) rotate(-5deg);
  -ms-transform: scale(1.12) rotate(-5deg);
  -o-transform: scale(1.12) rotate(-5deg);
  box-shadow: 0px 10px 25px 10px rgba(9, 132, 206, 40%);
}

.hidden-skill {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 0.5s;
}

.show-skill {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.skill:nth-child(1) {
  transition-delay: 100ms;
}

.skill:nth-child(2) {
  transition-delay: 200ms;
}

.skill:nth-child(2) {
  transition-delay: 200ms;
}

.skill:nth-child(3) {
  transition-delay: 300ms;
}

.skill:nth-child(4) {
  transition-delay: 400ms;
}

.skill:nth-child(5) {
  transition-delay: 500ms;
}

.skill:nth-child(6) {
  transition-delay: 600ms;
}

.skill:nth-child(7) {
  transition-delay: 700ms;
}

.skill:nth-child(8) {
  transition-delay: 800ms;
}

.skill:nth-child(9) {
  transition-delay: 900ms;
}

.skill:nth-child(10) {
  transition-delay: 1000ms;
}

/* Projects Section */
.web-project {
  background: var(--gray);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Services Section */
.hidden-service {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show-service {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Contact Section */
.information {
  background: var(--gray);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.information-text {
  color: var(--textColor);
}

.footer-bg {
  position: absolute;
  bottom: 1;
  left: 50%; /* move the div to the center horizontally */
  transform: translateX(-50%); /* center the div horizontally */
}

.particles-bg {
  z-index: -1;
}
